[Telegram]
# no need for quotes

# you can get telegram development credentials in telegram API Development Tools
api_id = <api_id telegram>
api_hash = <api_hash telegram>
bot_token = <bot_token>
# use full phone number including + and country code
phone = +989358350190
username = @mhs969
upload = True
